<!-- <template>
    <div>
    hasil dari {{bil1}} + {{bil2}} ={{jumlah}}
    <button v-on:click='klikJumlah'> jumlah </button>
    </div>
</template>>

<script>
export default {
   data(){
       return{
        bil1: 0,
       bil2: 1,
       jumlah: null
       }  
   },
   methods: {
       klikJumlah(){
           return this.jumlah= this.bil1+this.bil2
       }
   },
}
</script>> -->

<template>
  <div>
    <input type="text" v-model="isi" />
    {{keterangan}}
  </div>
</template>>

<script>
export default {
  data() {
    return {
      isi: "",
      keteangan: "",
    };
  },
  watch: {
    isi: function () {
      this.keterangan = "sedang mengetik ...";
    },
  },
};
</script>>