<template>
  <div>
    <table>
      <tr>
        <th>ID_AGAMA</th>
        <th>JENIS_AGAMA</th>
      </tr>
      <tr v-for="agama in result" :key="agama.ID_AGAMA">
        <td>{{ agama.ID_AGAMA }}</td>
        <td>{{ agama.JENIS_AGAMA }}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data: function () {
    return {
      result: [],
    };
  },
  created() {
    axios
      .get("http://localhost:8080/api/v1/agama/semua_agama")
      .then((response) => {
        this.result = response.data.result;
        console.log(response);
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
