<template>
  <div>
    Ini adalah halaman home
    <router-link to="/About">
      <span class="btn btn-primary" tag="button">
        <span class="ni ni-key-25">Go To About</span>
      </span>
    </router-link>
  </div>
</template>>
<script>
export default {
  name: "home",
};
</script>>